<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataVibe Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    
</head>
<body>
    <header>
        <div class="logo">
            <svg viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"/>
            </svg>
            <h2>DataVibe</h2>
        </div>
        <div class="header-buttons">
            <button class="header-button">✓</button>
            <button class="header-button">🔔</button>
            {# <div class="avatar"></div> #}
        </div>
    </header>
    <main>
        <div class="login-form">
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <h1>Welcome back!</h1>
            <p>Log in to your DataVibe account.</p>
            <form action="/login" method="POST">     
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="you@example.com" required>
                </div>
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="xyz" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="password" required>
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="remember" checked>
                    <label for="remember">Remember me</label>
                </div>
                <button type="submit">Log in</button>
            </form>
            <div class="regis">
                <a href="/register" class="register">If dont have account Register Here </a>
            </div>
            
        </div>
    </main>
</body>
</html>